<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <style>
        form {
            max-width: 400px;
            margin: 6% auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        input {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            box-sizing: border-box;
        }
        button {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            box-sizing: border-box;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .fieldErrors {
            font-weight: bold;
            color: red;
        }
        #memberGender {
            font-family: Arial, sans-serif;
            font-size: 16px;
            color: #333;
            background-color: #f2f2f2;
            border: 1px solid #ccc;
            padding: 5px 10px;
            border-radius: 5px;
        }

        #memberGender option {
            font-family: Arial, sans-serif;
            font-size: 14px;
            color: #003366;
            background-color: #e6f2ff;
        }
    </style>
</head>
<body>
<div layout:fragment="content">

    <form th:action="@{/members}" method="post" th:object="${member}">
        <p th:if="${duplicateError != null}" th:text="${duplicateError}" class="fieldErrors"></p>
        <label for="memberId">아이디</label>
        <input type="text" id="memberId" name="memberId" th:field="*{memberId}" required>
        <p th:if="${#fields.hasErrors('memberId')}" th:errors="*{memberId}" class="fieldErrors"></p>
        <label for="memberName">이름</label>
        <input type="text" id="memberName" name="memberName" th:field="*{memberName}" required>
        <p th:if="${#fields.hasErrors('memberName')}" th:errors="*{memberName}" class="fieldErrors"></p>
        <label for="memberEmail">이메일</label>
        <input type="email" id="memberEmail" name="memberEmail" th:field="*{memberEmail}" required>
        <p th:if="${#fields.hasErrors('memberEmail')}" th:errors="*{memberEmail}" class="fieldErrors"></p>
        <button type="button" id="sendVerificationCodeBtn" onclick="sendVerificationCode()">인증번호 받기</button>
        <label for="verificationCode" id="verificationCodeLabel">인증번호</label>
        <input type="text" id="verificationCode" name="verificationCode" placeholder="인증번호 입력" required readonly>
        <button type="button" id="verifyCodeBtn" onclick="verifyCode()">인증 하기</button>
        <label for="memberPassword">비밀번호</label>
        <input type="password" id="memberPassword" name="memberPassword" th:field="*{memberPassword}" required>
        <p th:if="${#fields.hasErrors('memberPassword')}" th:errors="*{memberPassword}" class="fieldErrors"></p>
        <label for="memberPassword2">비밀번호 확인</label>
        <input type="password" id="memberPassword2" name="memberPassword2" required>
        <br>
        <br>
        <label for="memberGender">성별</label>
        <select id="memberGender" name="memberGender">
            <option value="0">남성</option>
            <option value="1">여성</option>
        </select>
        <br>
        <br>
        <button class="btn btn-primary" type="submit" disabled>회원가입</button>
    </form>

    <script th:inline="javascript">

        document.addEventListener('DOMContentLoaded', e => {
            // 초기에는 인증번호 칸과 버튼을 숨김
            document.getElementById('verificationCode').style.display = 'none';
            document.getElementById('verificationCodeLabel').style.display = 'none';
            document.getElementById('verifyCodeBtn').style.display = 'none';
        });

        function sendVerificationCode() {
            var email = document.getElementById('memberEmail').value;
            var verificationCodeInput = document.getElementById('verificationCode');
            verificationCodeInput.readOnly = false;
            var name = document.getElementById('memberName').value;

            var data = {
                email: email,
                name: name
            };

            fetch('/mail', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                if (!response.ok) {
                    Swal.fire({
                        title : '이메일 인증 발송 실패',
                        icon : 'error',
                        timer : 1500,
                        showConfirmButton: false,
                        timerProgressBar: true
                    }).then(() => {
                        throw new Error('이메일  인증이 제대로 수행되지 않음')
                    });
                }
                return response.json();
            })
            .then(result => {
                // 서버로부터의 응답을 이용한 작업을 수행
                if (result === true) {
                    // 서버로부터 true를 받았을 때의 처리
                    Swal.fire({
                        title : '이메일 인증 발송 성공',
                        icon : 'success',
                        timer : 1500,
                        showConfirmButton: false,
                        timerProgressBar: true
                    }).then(() => {
                        document.getElementById('verificationCode').style.display = 'block';
                        document.getElementById('verificationCodeLabel').style.display = 'block';
                        document.getElementById('verifyCodeBtn').style.display = 'block';
                    });
                } else {
                    // 서버로부터 false를 받았을 때의 처리
                    Swal.fire({
                        title : '이메일 인증 발송 실패',
                        icon : 'error',
                        timer : 1500,
                        showConfirmButton: false,
                        timerProgressBar: true
                    });
                }
            })
            .catch(error => {
                // 오류 처리
                console.log(error)
            });
        }

        function verifyCode() {
            var code = document.getElementById('verificationCode').value;

            var data = {
                code : code
            };

            console.log(code)

            fetch('/mail/verify', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    if (!response.ok) {
                        Swal.fire({
                            title : '이메일 인증 실패',
                            icon : 'error',
                            timer : 1500,
                            showConfirmButton: false,
                            timerProgressBar: true
                        }).then(() => {
                            throw new Error('이메일  인증이 제대로 수행되지 않음')
                        });
                    }
                    return response.json();
                })
                .then(result => {
                    // 서버로부터의 응답을 이용한 작업을 수행
                    if (result === true) {
                        // 서버로부터 true를 받았을 때의 처리
                        Swal.fire({
                            title : '이메일 인증 성공',
                            icon : 'success',
                            timer : 1500,
                            showConfirmButton: false,
                            timerProgressBar: true
                        }).then(() => {
                            document.querySelector('button[type="submit"]').disabled = false;
                        });
                    } else {
                        // 서버로부터 false를 받았을 때의 처리
                        Swal.fire({
                            title : '이메일 인증 실패',
                            icon : 'error',
                            timer : 1500,
                            showConfirmButton: false,
                            timerProgressBar: true
                        }).then(() => {
                            document.querySelector('button[type="submit"]').disabled = true
                        });
                    }
                })
                .catch(error => {
                    // 오류 처리
                    console.log(error)
                });
        }
    </script>
</div>
</body>
</html>