<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        .material-symbols-outlined {
            font-variation-settings:
                    'FILL' 0,
                    'wght' 200,
                    'GRAD' 200,
                    'opsz' 24
        }
    </style>
    <style>
        .book-gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: center; /* 아이템들을 중앙 정렬합니다. */
            gap: 10px; /* 각 아이템 사이의 간격 */
        }

        .book-item {
            flex: 1 0 18%; /* 기본적으로 한 줄에 5개 아이템 */
            border: 1px solid #ddd; /* 시각적으로 구분하기 위한 테두리 */
            padding: 10px;
            box-sizing: border-box;
            max-width: 340px; /* 아이템의 최대 너비를 설정합니다. */
            margin: 10px; /* 아이템 주변에 여백을 추가합니다. */
        }
        .book_center{
            justify-content: center; /* 아이템들을 중앙 정렬합니다. */
        }
        /* 화면 크기가 768px ~ 1199px일 때 한 줄에 3개 아이템 */
        @media (max-width: 1199px) {
            .book-item {
                flex: 1 0 30%;
            }
        }

        /* 화면 크기가 767px 이하일 때 한 줄에 1개 아이템 */
        @media (max-width: 670px) {
            .book-item {
                max-width: none; /* 작은 화면에서는 너비 제한을 해제합니다. */
                flex-basis: 100%; /* 아이템이 화면 전체 너비를 차지하도록 설정합니다. */
            }
        }
        .header-container {
            display: flex;
            align-items: center;
            gap: 10px; /* 아이콘과 제목 사이의 간격 */
            padding-left: 20px; /* 왼쪽에서부터의 간격 */
        }
        .book-container{
            display: flex;
            gap: 10px; /* 아이콘과 제목 사이의 간격 */

        }
        .header-container span {
            font-size: 50px; /* 아이콘 크기 조절 */
        }
        .header-container a{
            text-decoration: none; /* 링크의 밑줄 제거 */
        }
        .header-container h1 {
            margin: 0; /* 기본 마진 제거 */
        }
        .delete-button-container a{
            text-decoration: none; /* 링크의 밑줄 제거 */
        }
        .eBook-container a {
            display: flex; /* flexbox 레이아웃 사용 */
            align-items: center; /* 수직 방향 가운데 정렬 */
            justify-content: center; /* 수평 방향 가운데 정렬 */
            text-decoration: none; /* a 태그 기본 밑줄 스타일 제거 */
        }

        .eBook-container a .material-symbols-outlined {
            margin-right: 8px; /* 아이콘과 텍스트 사이 간격 조정 */
        }
    </style>
</head>
<body>
    <div layout:fragment="content">
        <br>
        <div class="header-container">
            <span class="material-symbols-outlined">Book</span>
            <h1>My Library </h1>
            <h1> |  </h1>
            <h1><a th:href="@{../calendar/{pk}(pk=${session.myLibraryPk})}" class="material-symbols-outlined">MyCalendar</a></h1>
        </div>
        <br>
        <div class="book-gallery">
            <div th:each="book, bookStat : ${bookList}" class="book-item">
                <div class="book_center">
                    <hr>
                    <div class="book-container">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-light open-modal" data-bs-toggle="modal"
                                th:attr="data-bs-target='#exampleModal' + ${bookStat.index},
                            data-book-pk=${book.bookPk},
                            data-index=${bookStat.index},
                            data-user=${session.pk},
                            data-name=${session.name}">
                            <img th:src="${book.coverImagePath}" alt="북커버">
                        </button>

                        <div class="delete-button-container">
                            <a href="javascript:void(0)" class="material-symbols-outlined" id="deleteBookBtn" onclick="deleteBook(this)" th:attr="data-book-pk=${book.bookPk}, my-library-pk=${session.myLibraryPk}">Delete</a>
                        </div>
                    </div>
                    <div class="eBook-container">
                        <a th:href="@{../eBook(book_plus=${book.bookPlusPk},book_pk=${book.bookPk})}" class="material-symbols-outlined" >Menu_Book<p>보러가기</p></a>
                    </div>
                    <p th:text="${book.bookTitle}" readonly/>
                    <p th:text="${book.bookAuthor}" readonly/>
                    <p th:text="${book.bookCategory}" readonly/>
                    <p th:text="${book.bookContent}" readonly/>
                    <p th:text="${book.bookPrice}" readonly/>
                    <p th:text="${book.bookPublisher}" readonly/>
                    <p th:text="${book.bookPublishDate}" readonly/>
                    <hr>
                </div>

                <!-- Modal -->
                <!-- Modal -->
                <div class="modal fade" th:id="'exampleModal' + ${bookStat.index}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Comment List</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div th:id="'commentsContainer' + ${bookStat.index}"> <!-- 책들 마다 인덱스 부여 -->
                                    <!-- 코멘트가 표시되는 곳 -->
                                </div>
                                <button id="searchMoreNotify" class="btn btn-outline-primary btn-block col-sm-10 mx-auto" style="width: 465px">더보기</button><br>
                                <!-- 코멘트 작성 폼-->
                                <br>
                                <div class="card shadow border-0 rounded-4 mb-5">
                                    <div class="card-body p-5">
                                        <h4 style="text-align: left">코멘트 작성📃</h4>
                                        <div class="mb-5">
                                            <div class="d-flex align-items-center mb-4">
                                                <form id="commentForm" th:action="@{/comments/insert}" method="post" onsubmit="submitForm(event);">
                                                    <input type="hidden" th:name="book_pk" th:value="${book.bookPk}">
                                                    <input type="hidden" th:name="member_pk" th:value="${session.pk}">
                                                    <!--<div>
                                                        <p type="text" id="member_pk" name="member_pk" th:value="${session.pk}" th:text="${session.name}" required>
                                                    </div>-->
                                                    <div class="form-floating mb-3">
                                                        <input class="form-control" id="comment_title" name="comment_title" type="text" placeholder="제목을 입력하시오" required />
                                                        <label for="comment_title">제목</label>
                                                    </div>
                                                    <div class="form-floating mb-3">
                                                        <textarea class="form-control" id="comment_content" name="comment_content" style="height: 10rem" cols="50" rows="5" placeholder="내용을 입력하시오" required></textarea>
                                                        <label for="comment_content">내용</label>
                                                    </div>
                                                    <button type="submit" class="btn btn-outline-primary" id="submitCommentBtn" >등록</button>
                                                    <button type="reset" class="btn btn-outline-secondary" >취소</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" style="background-color: dodgerblue; color: white; border: dodgerblue" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

<script>
        //url에서 my_library_pk 값 가져오기
        var url = window.location.href;
        const lastSegment = url.split('/').pop();

        //document.getElementById('commentForm').addEventListener('submit', function(e) {
        //function submitForm(e) {
        document.querySelectorAll('.modal').forEach(function(modal) {
        modal.querySelector('form').addEventListener('submit', function(e) {
        console.log(e);
        e.preventDefault(); // 기본 폼 제출 동작을 방지

        //var form = document.getElementById('commentForm');
        var form = e.target; // 현재 이벤트가 발생한 폼 참조
        var formData = new FormData(form); // 폼 데이터 수집
        formData.append('my_library_pk', lastSegment);
        console.log(formData);
        console.log(form);

        fetch(form.action, {
        method: 'POST',
        body: formData
        })
        .then(response => {
        if(response.ok) {
        // 성공적으로 데이터가 처리되었을 때 페이지 새로고침
        alert("코멘트가 등록되었습니다.");
        window.location.reload();
        } else {
        // 서버에서 오류 응답이 올 경우 처리
        alert('코멘트 등록이 불가합니다. 다시 시도해주세요');
        }
        })
        .catch(error => console.error('Error:', error));

        //저장 후 리셋
        document.getElementById("commentForm").reset();
        });
        });

        //코멘트 리스트 + 페이징 처리
        $(document).ready(function() {
        $('.open-modal').click(function () {
        // 페이지 번호 초기화
        window.pageNum = 1;

        // 필요한 데이터 로드
        var pageSize = 3;     //3개씩 로딩
        var user = $(this).data('user');
        var name = $(this).data('name');
        var bookPk = $(this).data('book-pk');
        var myLibraryPk = lastSegment;
        var index = $(this).data('index'); // 인덱스
        console.log(user);

        // commentsContainer 변수를 여기에서 초기화
        var commentsContainer = $('#commentsContainer' + index);
        console.log(commentsContainer);

        // commentsContainer 내용 초기화
        //commentsContainer.empty();

        // 댓글 로드 함수 호출
        loadComments(window.pageNum);

        // 더보기 버튼 이벤트 핸들러 초기화
        $('#searchMoreNotify').off('click').on('click', function(){
        window.pageNum++; // 페이지 번호 증가
        loadComments(window.pageNum);
        });

        function loadComments(pageNum) {
        $.ajax({
        url: '/comments/list',
        type: 'POST',
        contentType: 'application/json',    // 서버로 보내는 데이터의 타입
        dateType: JSON,                     // 서버로부터 받아올 데이터의 타입
        data: JSON.stringify({pageNum: pageNum, pageSize: pageSize, bookPk: bookPk, myLibraryPk: myLibraryPk}),
        success: function (data) {
        console.log(data);
        if (window.pageNum === 1) { // 첫 페이지일 경우, 코멘트 컨테이너를 초기화
        $('#commentsContainer' + index).empty();
        }

        const commentsContainer = document.getElementById('commentsContainer' + index);
        data.forEach(function(comment) {
        var commentHtml = `<div class="card shadow border-0 rounded-4 mb-5">
        <div class="col text-center text-lg-start mb-4 mb-lg-0">
            <div class="bg-light p-4 rounded-4">
                <div class="text-primary fw-bolder mb-2 btn-sm">
                    <div style="text-align: right">
                        <button style="background: none; border: none; cursor: pointer; outline: none; padding: 0; text-align: right;" class="fas fa-heart"
                                data-liked="false" onclick="likeComment(this ,${comment.comment_pk}, ${comment.member_pk})"></button>&nbsp;&nbsp;
                        <button style="background: none; border: none; cursor: pointer; outline: none; padding: 0; text-align: right;" class="fas fa-flag"
                                onclick="reportComment(${comment.comment_pk}, ${comment.member_pk})"></button><br>
                    </div>
                    <div style="display: flex; align-items: center;">
                        <img class="img-fluid" src="https://ssl.pstatic.net/static/pwe/address/img_profile.png" width="40" height="40" style="margin-right: 10px;">
                        <p style="color: black; font-size: large; margin: 0;">${name}</p>
                    </div><br>
                    <div class="small text-muted" style="text-align: right">
                        ${comment.created_date} <br>
                        ${comment.modified_date ? `수정 일자 : <br>${comment.modified_date} <br>` : ''}
                    </div><br>
                    <div>
                        <div style="text-align: left; font-size: x-large; font-weight: bold; color: black">${comment.comment_title}</div>
                        <div style="text-align: left; margin-left: 20px; color: black">${comment.comment_content}</div>
                    </div><br><br><br>`;
                    // 사용자 ID와 댓글 작성자 ID가 같을 경우에만 수정 및 삭제 버튼 추가
                    if (user === comment.member_pk) {
                    commentHtml += `<div style="text-align: right;">
                    <input type="button" class="btn btn-primary btn-sm" value="수정" onclick="openEditModal(${comment.comment_pk})">
                    <input type="button" class="btn btn-secondary btn-sm" value="삭제" onclick="isDelete(${comment.comment_pk})">
                </div>`;
                    }
                    commentHtml += `</div> <!-- 여기는 내용 div의 닫는 태그 -->
            </div>
        </div>
    </div>`;

        // commentsContainer에 댓글 요소 추가
        $(commentsContainer).append(commentHtml);

        });
        // 더보기 버튼 보이기/숨기기 처리
        if(data.length < pageSize) {
        $('#searchMoreNotify[data-index="' + index + '"]').hide();
        }else {
        $('#searchMoreNotify[data-index="' + index + '"]').show(); // 더 불러올 데이터가 있을 경우 "더보기" 버튼을 다시 보이게 합니다.
        }
        },
        error: function (err) {
        console.log('Error:', err);
        }
        });
        }

        });
        });

        //코멘트 수정
        function openEditModal(comment_pk) {
        console.log(comment_pk);
        var url = "/comments/updateComment?comment_pk=" + comment_pk;
        var width = 600; // 창의 너비
        var height = 400; // 창의 높이
        //오픈 시 화면 가운데에 위치
        var left = window.screen.width / 2 - width / 2;
        var top = window.screen.height / 2 - height / 2;

        //미니창 오픈
        window.open(url, "Comment Edit", "width=" + width + ",height=" + height + ",top=" + top + ",left=" + left);
        //window.open(url, "Comment Edit", "width=600,height=400");
        }

        //삭제 확인 여부
        function isDelete(comment_pk) {
        var is_delete = confirm("정말 삭제하시겠습니까?");
        if (is_delete) {
        deleteComment(comment_pk)
        }
        }
        // 댓글 삭제
        function deleteComment(comment_pk) {
        console.log(`Deleting comment ${comment_pk}`);
        fetch(`/comments/delete/${comment_pk}`, {
        method: 'DELETE'
        })
        .then(response => {
        if(response.ok) {
        // 요청이 성공적으로 완료되면, 해당 댓글 요소를 제거
        const commentElement = document.getElementById(`comment-${comment_pk}`);
        if(commentElement) {
        commentElement.remove();
        }
        console.log('코멘트가 성공적으로 삭제되었습니다.');
        alert("코멘트가 삭제 되었습니다.");
        location.reload();

        } else {
        // 서버로부터 오류 응답을 받았을 때 처리
        console.error('코멘트 삭제 중 오류가 발생했습니다.');
        }
        })
        .catch((error) => {
        console.error('Error:', error);
        });
        }

        //좋아요
        function likeComment(button, comment_pk, member_pk) {
        const isLiked = button.getAttribute('data-liked') === 'true';

        // 좋아요 상태를 토글합니다.
        button.setAttribute('data-liked', !isLiked);

        // 버튼 색상을 변경합니다.
        button.style.color = !isLiked ? 'red' : 'black'; // 좋아요 상태에 따라 색상을 변경

        // 적절한 액션을 수행합니다.
        if (!isLiked) {
        // 좋아요 등록
        registerLike(comment_pk, member_pk);
        } else {
        // 좋아요 취소
        cancelLike(comment_pk, member_pk);
        }
        }
        //좋아요 추가
        function registerLike(comment_pk, member_pk) {
        // AJAX 요청을 통해 서버에 좋아요 등록을 요청합니다.
        fetch(`/comments/likes/${comment_pk}/${member_pk}`, {
        method: 'POST'
        }).then(response => {
        if (!response.ok) {
        throw new Error('Failed to register like');
        }
        console.log('Like registered');
        }).catch(error => {
        console.error('Error:', error);
        });
        }
        //좋아요 취소
        function cancelLike(comment_pk, member_pk) {
        // AJAX 요청을 통해 서버에 좋아요 취소를 요청합니다.
        fetch(`/comments/likes/${comment_pk}/${member_pk}`, {
        method: 'DELETE'
        }).then(response => {
        if (!response.ok) {
        throw new Error('Failed to cancel like');
        }
        console.log('Like canceled');
        }).catch(error => {
        console.error('Error:', error);
        });
        }

        //신고
        function reportComment(comment_pk, member_pk){
        console.log(comment_pk);
        var url = "/comments/report?comment_pk=" + comment_pk + "&member_pk=" + member_pk;
        var width = 600; // 창의 너비
        var height = 400; // 창의 높이
        //오픈 시 화면 가운데에 위치
        var left = window.screen.width / 2 - width / 2;
        var top = window.screen.height / 2 - height / 2;

        //미니창 오픈
        window.open(url, "Comment Edit", "width=" + width + ",height=" + height + ",top=" + top + ",left=" + left);
        }
        </script>



        <script th:inline="javascript">


            function deleteBook(element) {
                const bookPk = element.getAttribute('data-book-pk');
                const myLibraryPk = element.getAttribute('my-library-pk');

                $.ajax({
                    url: '/bookPlus',
                    type: 'DELETE',
                    data: {
                        bookPk: bookPk,
                        myLibraryPk: myLibraryPk
                    },
                    success: function(response) {
                        alert(response);
                        // 필요한 경우, 성공 후 페이지 새로고침 또는 리다이렉트
                        location.reload();
                        //window.location.href = '/someOtherPage';
                    },
                    error: function(xhr, status, error) {
                        // 에러 처리
                        alert("에러 발생");
                    }
                });
            }
        </script>
    </div>
</body>
</html>