<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN"
            "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.projectif.ooslibrary.mapper.CommentMapper">
    <sql id="commentColumns">
        member_pk,
        comment_title,
        comment_content,
        level,
        created_date,
        modified_date,
        is_deleted,
        total_like,
        total_report,
        parent_pk,
        book_pk,
        my_library_pk
    </sql>
    <sql id="commentList">
        comment_pk,
        member_pk,
        comment_title,
        comment_content,
        level,
        created_date,total_like,
        total_report,
        book_pk
    </sql>

    <!-- 코멘트 저장 -->
    <insert id="insertComment" parameterType="com.projectif.ooslibrary.comment.dto.CommentResponseDTO" useGeneratedKeys="true" keyProperty="comment_pk">
        INSERT INTO comment (
            <include refid="commentColumns" />
        ) VALUES (
            #{member_pk},
            #{comment_title},
            #{comment_content},
            null,
            now(),
            null,
            0,
            null,
            null,
            null,
            null,
            null
        )
    </insert>
    <!-- 코멘트 리스트 조회 & 페이징 처리-->
<!--    <select id="getComments" resultType="com.projectif.ooslibrary.comment.domain.CommentVO">
        SELECT
            <include refid="commentList" />
        FROM
        comment
        WHERE
        is_deleted = 0
        LIMIT #{limitStart}, #{recordSize}
    </select>-->

    <select id="getComments" resultType="com.projectif.ooslibrary.comment.domain.CommentVO">
        SELECT
            <include refid="commentList" />
        FROM
            comment
        WHERE
            is_deleted = 0
        LIMIT #{limit} OFFSET #{offset}
    </select>
    <!-- -->
    <select id="getCount" resultType="int">
        SELECT COUNT(*)
        FROM
            comment
        WHERE
            is_deleted = 0
    </select>

    <!-- 코멘트 상세정보 조회 -->
    <select id="getCommentsById" parameterType="long" resultType="com.projectif.ooslibrary.comment.domain.CommentVO">
        SELECT
            <include refid="commentList" />
        FROM
        comment
        WHERE
        member_pk = #{member_pk}
    </select>
    <!-- 코멘트 수정 -->
    <update id="updateComment" parameterType="com.projectif.ooslibrary.comment.dto.CommentResponseDTO">
        UPDATE comment
        SET
            comment_title = #{comment_title},
            comment_content = #{comment_content},
            modified_date = NOW()
        WHERE
            comment_pk = #{comment_pk}
    </update>
    <!-- 코멘트 삭제 -->
    <delete id="deleteComment" parameterType="long">
        UPDATE comment
        SET
            is_deleted = 1
        WHERE
            comment_pk = #{comment_pk}
    </delete>
</mapper>