<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.projectif.ooslibrary.mapper.CommentLikeMapper">
    <!-- 전체 좋아요 수 출력 -->
    <select id="getLikeComment" resultType="int" parameterType="long">
        select count(*) from comment_like where comment_pk = #{comment_pk}
    </select>

    <!-- 좋아요 추가 -->
    <insert id="likeComment" parameterType="long">
        insert into comment_like(comment_pk, member_pk)
        values(#{comment_pk}, #{member_pk})
    </insert>
    <!-- 추가 시 total_like 증가 -->
    <update id="add_total_like" parameterType="long">
        update comment set total_like = total_like + 1 where comment_pk = #{comment_pk}
    </update>

    <!-- 좋아요 취소(삭제)-->
    <delete id="deleteLikeComment" parameterType="long">
        delete from comment_like where comment_pk = #{comment_pk} and member_pk = #{member_pk}
    </delete>
    <!-- 취소 시 total_like 감소 -->
    <update id="remove_total_like" parameterType="long">
        update comment set total_like = total_like - 1 where comment_pk=#{comment_pk}
    </update>

    <!-- 코멘트 별 좋아요 리스트 출력 -->
    <select id="listLikeComment" parameterType="long" resultType="com.projectif.ooslibrary.comment.domain.CommentLikeVO">
        select * from comment_like where comment_pk = #{comment_pk}
    </select>
</mapper>