<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>EBook Reader</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/css/e_book.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        .material-symbols-outlined {
            font-variation-settings:
                    'FILL' 0,
                    'wght' 200,
                    'GRAD' 200,
                    'opsz' 24
        }
        .center-container {
            padding-left: 20%; /* 왼쪽에서부터의 간격 */
        }
    </style>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/e_book.js"></script>
</head>
<body>
<div class="center-container">
    <div id="book">
        <div class="cover" th:style="'background-image: url(' + ${coverImagePath} + ')'"></div>

    </div>
    <div id="controls">
        <label for="page-number">Page:</label> <input type="text" size="3" id="page-number"> of <span id="number-pages"></span>
        <button class="material-symbols-outlined" onclick="SaveData(this)" th:attr="data-book-plus=${bookPlus}, my-library-pk=${session.myLibraryPk}">Book</button>
        <a th:href="@{../myLibrary/{pk}(pk=${session.myLibraryPk})}" class="material-symbols-outlined">Close</a>
    </div>
</div>
<script type="text/javascript">
    var textData = [];
    textData[1]="날개\n" +
        "\n" +
        "'박제(剝製)가 되어 버린 천재'를 아시오? 나는 유쾌하오. 이런 때 연애까지가 유쾌하오.\n" +
        "\n" +
        "\n" +
        "육신이 흐느적흐느적하도록 피로했을 때만 정신이 은화처럼 맑소. 니코틴이 내 횟배 앓는 뱃속\n" +
        "으로 스미면 머릿속에 으레 백지가 준비되는 법이오. 그 위에다 나는 위트와 파라독스를 바둑 포\n" +
        "석처럼 늘어 놓소. 가공할 상식의 병이오.\n" +
        " 나는 또 여인과 생활을 설계하오. 연애기법에마저 서먹서먹해진 지성의 극치를 흘깃 좀 들여다\n" +
        " 본 일이 있는, 말하자면 일종의 정신분일자(정신이 제멋대로 노는 사람)말이오. 이런 여인의 반\n" +
        " ----그것은 온갖 것의 반이오.---만을 영수(받아들이는)하는 생활을 설계한다는 말이오. 그런\n" +
        " 생활 속에 한 발만 들여놓고 흡사 두 개의 태양처럼 마주 쳐다보면서 낄낄거리는 것이오. 나는\n" +
        " 아마 어지간히 인생의 제행(諸行)"
    textData[2]="(일체의 행위)이 싱거워서 견딜 수가 없게 끔 되고 그만둔 모양이오. 굿바이.\n" +
        "\n" +
        "\n" +
        " 굿바이. 그대는 이따금 그대가 제일 싫어하는 음식을 탐식하는 아이로니를 실천해 보는 것도 놓\n" +
        " 을 것 같소. 위트와 파라독스와…….\n" +
        "\n" +
        " 그대 자신을 위조하는 것도 할 만한 일이오. 그대의 작품은 한번도 본 일이 없는 기성품에 의하\n" +
        " 여 차라리 경편(輕便)하고(가뜬하여 쓰기에 손쉽고 편하고) 고매하리다.\n" +
        "\n" +
        "\n" +
        " 19세기는 될 수 있거든 봉쇄하여 버리오. 도스토예프스키 정신이란 자칫하면 낭비일 것 같소.\n" +
        " 위고를 불란서의 빵 한 조각이라고는 누가 그랬는지 지언(至言)(지당한 말)인 듯싶소. 그러나\n" +
        " 인생 혹은 그 모형에 있어서 '디테일' 때문에 속는다거나 해서야 되겠소?\n" +
        "\n" +
        "화를 보지 마오. 부디 그대께 고하는 것이니……\n" +
        " \"테이프가 끊어지면 피가 나오. 상채기도 머지 않아 완치될 줄 믿소. 굿바이.\" 감정은 어떤 '포\n" +
        " 우즈'. (그 '포우즈'의 원소만을 지적하는 것이 아닌지 나도 모르겠소.) 그 포우즈가 부동자세에\n" +
        " 까지 고도화할 때 감정은 딱 공급을 정지합네다.\n"
    textData[3]="나는 내 비범한 발육을 회고하여 세상을 보는 안목을 규정하였소.\n" +
        " 여왕봉과 미망인---세상의 하고 많은 여인이 본질적으로 이미 미망인이 아닌 이가 있으리까?\n" +
        " 아니, 여인의 전부가 그 일상에 있어서 개개'미망인'이라는 내 논리가 뜻밖에도 여성에 대한 모\n" +
        " 험이 되오? 굿바이.\n" +
        "\n" +
        "\n" +
        " 그 33번지라는 것이 구조가 흡사 유곽이라는 느낌이 없지 않다.\n" +
        "\n" +
        " 한 번지에 18가구가 죽 어깨를 맞대고 늘어서서 창호가 똑같고 아궁이 모양이 똑같다. 게다가\n" +
        " 각 가구에 사는 사람들이 송이송이 꽃과 같이 젊다.\n" +
        "\n" +
        " 해가 들지 않는다. 해가 드는 것을 그들이 모른 체하는 까닭이다. 턱살밑에다 철줄을 매고 얼룩\n" +
        " 진 이부자리를 널어 말린다는 핑계로 미닫이에 해가 드는 것을 막아 버린다. 침침한 방안에서\n" +
        " 낮잠들을 잔다. 그들은 밤에는 잠을 자지 않나? 알 수 없다. 나는 밤이나 낮이나 잠만 자느라고\n" +
        " 그런 것을 알 길이 없다. 33번지 18 가구의 낮은 참 조용하다."
    textData[4]="조용한 것은 낮뿐이다. 어둑어둑하면 그들은 이부자리를 걷어들인다. 전등불이 켜진 뒤의 18\n" +
        " 가구는 낮보다 훨씬 화려하다. 저물도록 미닫이 여닫는 소리가 잦다. 바빠진다. 여러가지 냄새\n" +
        " 가 나 기 시작한다. 비웃 굽는 내, 탕고도오랑내, 뜨물내,비눗내.\n" +
        " 그러나 이런 것들보다도 그들의 문패가 제일로 고개를 끄덕이게 하는 것이다.\n" +
        "\n" +
        " 이 18 가구를 대표하는 대문이라는 것이 일각이 져서 외따로 떨어지기는 했으나, 있다. 그러나\n" +
        " 그것은 한 번도 닫힌 일이 없는, 한길이나 마찬가지 대문인 것이다. 온갖 장사치들은 하루 가운\n" +
        " 데 어느 시간에라도 이 대문을 통하여 드나들 수 있는 것이다. 이네들은 문간에서 두부를 사는\n" +
        " 것이 아니라, 미닫이를 열고 방에서 두부를 사는 것이다. 이렇게 생긴 33번지 대문에 그들 18\n" +
        " 가구의 문패를 몰아다 붙이는 것은 의미가 없다. 그들은 어느 사이엔가 각 미닫이 위 백인당이\n" +
        " 니 길상당이니 써 붙인 한곁에다 문패를 붙이는 풍속을 가져 버렸다.\n" +
        "\n" +
        " 내 방 미닫이 위 한곁에 칼표 딱지를 넷에다 낸 것만한 내---아니! 내 아내의 명함이 붙어 있는\n" +
        " 것도 이 풍속을 좇은 것이 아닐 수 없다.\n"
    textData[5]=" 나는 그러나 그들의 아무와도 놀지 않는다. 놀지 않을 뿐만 아니라 인사도 않는다. 나는 내 아내\n" +
        " 와 인사하는 외에 누구와도 인사하고 싶지 않았다. 내 아내 외의 다른 사람과 인사를 하거나 놀\n" +
        " 거나 하는 것은 내 아내 낯을 보아 좋지 않은 일인 것만 같이 생각이 되었기 때문이다. 나는 이\n" +
        " 만큼 까지 내 아내를 소중히 생각한 것이다. 내가 이렇게까지 내 아내를 소중히 생각한 까닭은\n" +
        " 이 33번 지 18 가구 속에서 내 아내가 내 아내의 명함처럼 제일 작고 제일 아름다운 것을 안 까\n" +
        " 닭이다. 18 가구에 각기 빌어 들은 송이송이 꽃들 가운데서도 내 아내가 특히 아름다운 한 떨기\n" +
        " 의 꽃으로 이 함석지붕 밑 볕 안드는 지역에서 어디까지든지 찬란하였다. 따라서 그런 한 떨기\n" +
        " 꽃을 지키고---아니 그 꽃에 매어달려 사는 나라는 존재가 도무지 형언할 수 없는 거북살스러\n" +
        " 운 존재가 아닐 수 없었던 것은 물론이다.\n" +
        "\n" +
        "\n" +
        " 나는 어디까지든지 내 방이---집이 아니다. 집은 없다.---마음에 들었다. 방안의 기온은 내 체\n" +
        " 온 을 위하여 쾌적하였고, 방안의 침침한 정도가 또한 내 안력을 위하여 쾌적하였다. 나는 내 방\n" +
        " 이상 의 서늘한 방도 또 따뜻한 방도 희망하지 않았다. 이 이상으로 밝거나 이 이상으로 아늑한\n" +
        " 방은 원 하지 않았다. 내 방은 나 하나를 위하여 요만한 정도를 꾸준히 지키는 것 같아 늘 내 방\n" +
        " 에 감사하였고, 나는 또 이런 방을 위하여 이 세상에 태어난 것만 같아서 즐거웠다.\n"
    textData[6]="그러나 이것은 행복이라든가 불행이라든가 하는 것을 계산하는 것은 아니었다. 말하자면 나는\n" +
        " 내 가 행복되다고도 생각할 필요가 없었고, 그렇다고 불행하다고도 생각할 필요가 없었다. 그냥\n" +
        " 그날 을 그저 까닭없이 펀둥펀둥 게으르고만 있으면 만사는 그만이었던 것이다.\n" +
        "\n" +
        " 내 몸과 마음에 옷처럼 잘 맞는 방 속에서 뒹굴면서, 축 쳐져 있는 것은 행복이니 불행이니 하는\n" +
        " 그런 세속적인 계산을 떠난, 가장 편리하고 안일한 말하자면 절대적인 상태인 것이다. 나는 이\n" +
        " 런 상태가 좋았다.\n" +
        "\n" +
        " 이 절대적인 내 방은 대문간에서 세어서 똑 일곱째 칸이다. 럭키 세븐의 뜻이 없지 않다. 나는\n" +
        " 이 일곱이라는 숫자를 훈장처럼 사랑하였다. 이런 이 방이 가운데 장지로 말미암아 두 칸으로\n" +
        " 나뉘어 있었다는 그것이 내 운명의 상징이었던 것을 누가 알랴? 아랫방은 그래도 해가 든다. 아\n" +
        " 침결에 책보 만한 해가 들었다가 오후에 손수건만 해지면서 나가 버린다. 해가 영영 들지 않는\n" +
        " 윗방이 즉 내 방인 것은 말할 것도 없다. 이렇게 볕드는 방이 아내 방이요, 볕 안드는 방이 내 방\n" +
        " 이요 하고 아내와 나 둘 중에 누가 정했는지 나는 기억하지 못한다.\n" +
        "\n" +
        "그러나 나에게는 불평이 없다.\n"
    textData[7]=" 아내가 외출만 하면 나는 얼른 아랫방으로 와서 그 동쪽으로 난 들창을 열어 놓고 열어놓으면\n" +
        " 들이비치는 햇살이 아내의 화장대를 비쳐 가지각색 병들이 아롱이 지면서 찬란하게 빛나고, 이\n" +
        " 렇게 빛나는 것을 보는 것은 다시없는 내 오락이다. 나는 조그만 돋보기를 꺼내가지고 아내만이\n" +
        " 사용하는 지리가미를 꺼내 가지고 그을려 가면서 불장난을 하고 논다. 평행광선을 굴절시켜서\n" +
        " 한 촛점에 모아가지고 그 촛점이 따근따근해지다가, 마지막에는 종이를 그을리기 시작하고, 가\n" +
        " 느다란 연기를 내면서 드디어 구멍을 뚫어 놓는 데까지 이르는, 고 얼마 안되는 동안의 초조한\n" +
        " 맛이 죽고 싶을 만 큼 내게는 재미있었다.\n" +
        "\n" +
        " 이 장난이 싫증이 나면 나는 또 아내의 손잡이 거울을 가지고 여러가지로 논다. 거울이란 제 얼\n" +
        " 굴을 비칠 때만 실용품이다. 그 외의 경우에는 도무지 장난감인 것이다. 이 장난도 곧 싫증이 난\n" +
        " 다."
    textData[8]="나의 유희심은 육체적인 데서 정신적인 데로 비약한다. 나는 거울을 내던지고 아내의 화장대 앞\n" +
        "으로 가까이 가서 나란히 늘어 놓인 그 가지각색의 화장품 병들을 들여다본다. 고것들은 세상의\n" +
        "무엇보다도 매력적이다. 나는 그 중의 하나만을 골라서 가만히 마개를 빼고 병구멍을 내 코에 가\n" +
        "져다 대 고 숨 죽이듯이 가벼운 호흡을 하여 본다. 이국적인 센슈얼한 향기가 폐로 스며들면 나\n" +
        "는 저절로 스르르 감기는 내 눈을 느낀다. 확실히 아내의 체취의 파편이다.\n" +
        "\n" +
        " 나는 도로 병마개를 막고 생각해 본다. 아내의 어느 부분에서 요 냄새가 났던가를…… 그러나\n" +
        " 그 것은 분명하지 않다. 왜? 아내의 체취는 여기 늘어섰는 가지각색 향기의 합계일 것이니까.\n"
    textData[9]=" 아내의 방은 늘 화려하였다. 내 방이 벽에 못 한 개 꽂히지 않은 소박한 것인 반대로, 아내 방에\n" +
        " 는 천장 밑으로 쫙 돌려 못이 박히고, 못마다 화려한 아내의 치마와 저고리가 걸렸다. 여러가지\n" +
        " 무늬가 보기 좋다. 나는 그 여러 조각의 치마에서 늘 아내의 동체와, 그 동체가 될 수 있는 여러\n" +
        " 가지 포우즈를 연상하고 연상하면서 내 마음은 늘 점잖지 못하다.\n" +
        "\n" +
        " 그렇건만 나에게는 옷이 없었다. 아내는 내게 옷을 주지 않았다. 입고 있는 골덴양복 한 벌이 내\n" +
        " 자리옷이었고 통상복과 나들이옷을 겸한 것이었다. 그리고 하이넥의 스웨터가 한 조각 사철을\n" +
        " 통한 내 내의다. 그것들은 하나같이 다 빛이 검다. 그것은 내 짐작 같아서는 즉 빨래를 될 수 있\n" +
        " 는 데까지 하지 않아도 보기 싫지 않게 하기 위한 것이 아닌가 한다. 나는 허리와 두 가랑이 세\n" +
        " 군데 다---고무밴드가 끼어 있는 부드러운 사루 마다를 입고 그리고 아무 소리없이 잘 놀았다.\n"
    textData[10]=" 어느덧 손수건만해졌던 볕이 나갔는데 아내는 외출에서 돌아오지 않는다. 나는 요만일에도 좀\n" +
        " 피 곤하였고 또 아내가 돌아오기 전에 내 방으로 가 있어야 될 것을 생각하고 그만 내 방으로 건\n" +
        " 너간 다. 내 방은 침침하다. 나는 이불을 뒤집어쓰고 낮잠을 잔다. 한번도 걷은 일이 없는 내 이\n" +
        " 부자리 는 내 몸뚱이의 일부분처럼 내게는 참 반갑다. 잠은 잘 오는 적도 있다. 그러나 또 전신\n" +
        " 이 까칫까칫하면서 영 잠이 오지 않는 적도 있다. 그런 때는 아무 제목으로나 제목을 하나 골라\n" +
        " 서 연구하였다. 나는 내 좀 축축한 이불속에서 참 여러가지 발명도 하였고 논문도 많이 썼다. 시\n" +
        " 도 많이 지었다. 그러나 그것들은 내가 잠이 드는 것과 동시에 내 방에 담겨서 철철 넘치는 그\n" +
        " 흐늑흐늑한 공기 에 다 비누처럼 풀어져서 온데간데 없고, 한잠 자고 깨인 나는 속이 무명헝겊\n" +
        " 이나 메밀껍질로 띵띵 찬 한 덩어리 베개와도 같은 한 벌 신경이었을 뿐이고 뿐이고 하였다.\n"
    textData[11]=" 그러기에 나는 빈대가 무엇보다도 싫었다. 그러나 내 방에서는 겨울에도 몇 마리의 빈대가 끊이\n" +
        " 지 않고 나왔다. 내게 근심이 있었다면 오직 이 빈대를 미워하는 근심일 것이다. 나는 빈대에게\n" +
        " 물려 서 가려운 자리를 피가 나도록 긁었다. 쓰라리다. 그것은 그윽한 쾌감에 틀림없었다. 나는\n" +
        " 혼곤히 잠이 든다.\n" +
        "\n" +
        " 나는 그러나 그런 이불 속의 사색 생활에서도 적극적인 것을 궁리하는 법이 없다. 내게는 그럴\n" +
        " 필요가 대체 없었다. 만일 내가 그런 좀 적극적인 것을 궁리해내었을 경우에 나는 반드시 내 아\n" +
        " 내 와 의논하여야 할 것이고, 그러면 반드시 나는 아내에게 꾸지람을 들을 것이고---나는 꾸지\n" +
        " 람이 무서웠다느니 보다는 성가셨다. 내가 제법 한 사람의 사회인의 자격으로 일을 해 보는 것\n" +
        " 도 아내에게 사설 듣는 것도 나는 가장 게으른 동물처럼 게으른 것이 좋았다. 될 수만 있으면 이\n" +
        " 무의미한 인간 의 탈을 벗어 버리고도 싶었다."
    textData[12]=" 나에게는 인간 사회가 스스러웠다. 생활이 스스러웠다. 모두가 서먹서먹할 뿐이었다.\n" +
        "\n" +
        "\n" +
        " 아내는 하루에 두 번 세수를 한다.\n" +
        "\n" +
        " 나는 하루 한 번도 세수를 하지 않는다.\n" +
        "\n" +
        " 나는 밤중 세 시나 네 시쯤 해서 변소에 갔다.\n" +
        "\n" +
        " 달이 밝은 밤에는 한참씩 마당에 우두커니 섰다가 들어오곤 한다. 그러니까 나는 이 18 가구의\n" +
        " 아무와도 얼굴이 마주치는 일이 거의 없다. 그러면서도 나는 이 18 가구의 젊은 여인네 얼굴들\n" +
        " 을 거반 다 기억하고 있었다. 그들은 하나 같이 내 아내만 못하였다."
    textData[13]=" 열한 시쯤 해서 하는 아내의 첫번 세수는 좀 간단하다. 그러나 저녁 일곱 시쯤해서 하는 두번째\n" +
        " 세수는 손이 많이 간다. 아내는 낮에 보다도 밤에 더 좋고 깨끗한 옷을 입는다. 그리고 낮에도\n" +
        " 외출하고 밤에도 외출하였다.\n" +
        "\n" +
        " 아내에게 직업이 있었던가? 나는 아내의 직업이 무엇인지 알 수 없다. 만일 아내에게 직업이 없\n" +
        " 었다면 같이 직업이 없는 나처럼 외출할 필요가 생기지 않을 것인데--- 아내는 외출한다. 와출\n" +
        " 할 뿐만 아니라 내객이 많다. 아내에게 내객이 많은 날은 나는 온종일 내 방에서 이불을 쓰고 누\n" +
        " 워 있어야만 된다.\n" +
        "\n" +
        " 불장난도 못한다. 화장품 냄새도 못 맡는다. 그런 날은 나는 의식적으로 우울해 하였다. 그러면\n" +
        " 아내는 나에게 돈을 준다. 오십전짜리 은화다. 나는 그것이 좋았다.\n" +
        "\n" +
        "그러나 그것을 무엇에 써야 옳을지 몰라서 늘 머리맡에 던져 두고 두고 한 것이 어느 결에 모여\n" +
        "서 꽤 많아졌다 어느날 이것을 본 아내는 금고처럼 생긴 벙어리를 사다 준다."
    textData[14]=" 나는 한푼씩 한푼씩 그 속에 넣고 열쇠는 아내가 가져갔다. 그후에도 나는 더러 은화를 그 벙어\n" +
        " 리에 넣은 것을 기억한다. 그리고 나는 게을렀다. 얼마 후 아내의 머리쪽에 보지 못하던 누깔잠\n" +
        " 이 하나 여드름처럼 돋았던 것은 바로 그 금고형 벙어리의 무게가 가벼워졌다는 증거일까. 그러\n" +
        " 나 나 는 드디어 머리맡에 놓았던 그 벙어리에 손을 대지 않고 말았다. 내 게으름은 그런 것에\n" +
        " 내 주의를 환기시키기도 싫었다.\n" +
        "\n" +
        "\n" +
        " 아내에게 내객이 있는 날은 이불 속으로 암만 깊이 들어가도 비오는 날만큼 잠이 잘 오지 않았\n" +
        " 다. 나는 그런 때 나에게 왜 늘 돈이 있나 왜 돈이 많은가를 연구했다. 내객들은 장지 저쪽에 내\n" +
        " 가 있는 것을 모르나보다. 내 아내와 나도 좀 하기 어려운 농을 아주 서슴지 않고 쉽게 해 던지\n" +
        " 는 것이다. 그러나 내 아내를 찾은 서너 사람의 내객들은 늘 비교적 점잖았다고 볼 수 있는 것이\n" +
        " , 자정이 좀 지나면 으레 돌아들 갔다."
    textData[15]=" 그들 가운데에는 퍽 교양이 얕은 자도 있는 듯싶었는데, 그런 자는 보통 음식을 사다 먹고 논다.\n" +
        "\n" +
        "그래서 보충을 하고 대체로 무사하였다. 나는 우선 아내의 직업이 무엇인가를 연구하기에 착수\n" +
        "하였으나 좁은 시야와 부족한 지식으로는 이것을 알아내기 힘이 든다. 나는 끝끝내 내 아내의 직\n" +
        "업이 무엇인가를 모르고 말려나보다.\n" +
        "\n" +
        " 아내는 늘 진솔 버선만 신었다. 아내는 밥도 지었다. 아내가 밥을 짓는 것을 나는 한번도 구경한\n" +
        " 일은 없으나 언제든지 끼니때면 내 방으로 내 조석밥을 날라다 주는 것이다. 우리집에는 나와\n" +
        " 내 아내 외의 다른 사람은 아무도 없다. 이 밥은 분명 아내가 손수 지었음에 틀림없다.\n" +
        "\n" +
        " 그러나 아내는 한 번도 나를 자기 방으로 부른 일은 없다. 나는 늘 웃방에서나 혼자서 밥을 먹고\n" +
        " 잠을 잤다.\n" +
        "\n" +
        " 밥은 너무 맛이 없었다. 반찬이 너무 엉성하였다. 나는 닭이나 강아지처럼 말없이 주는 모이를\n" +
        " 넓적넓적 받아먹기는 했으나 내심 야속하게 생각한 적도 더러 없지 않다."
    textData[16]="나는 안색이 여지없이 창백해가면서 말라 들어갔다. 나날이 눈에 보이듯이 기운이 줄어들었다.\n" +
        "영 양 부족으로 하여 몸뚱이 곳곳의 뼈가 불쑥불쑥 내어 밀었다. 하룻밤 사이에도 수십 차를 돌\n" +
        "쳐 눕지 않고는 여기저기가 배겨서 나는 배겨낼 수가 없었다.\n" +
        "\n" +
        " 그렇기 때문에 나는 내 이불 속에서 아내가 늘 흔히 쓸 수 있는 저 돈의 출처를 탐색해 내는 일\n" +
        " 변 장지 틈으로 새어나오는 아랫방의 음성은 무엇일까를 간단히 연구하였다.\n" +
        "\n" +
        "나는 잠이 잘 안 왔다.\n" +
        "\n" +
        "\n" +
        " 깨달았다. 아내가 쓰는 그 돈은 내게는 다만 실없는 사람들로밖에 보이지 않는 까닭 모를 내객\n" +
        " 들 이 놓고 가는 것이 틀림없으리라는 것을 깨달았다."
    textData[17]="그러나 왜 그들 내객은 돈을 놓고 가나? 왜 내 아내는 그 돈을 받아야 되나? 하는 예의 관념이\n" +
        " 내게는 도무지 알 수 없는 것이었다.\n" +
        "\n" +
        " 그것은 그저 예의에 지나지 않는 것일까? 그렇지 않으면 혹 무슨 댓가일까? 보수일까? 내 아 내\n" +
        " 가 그들의 눈에는 동정을 받아야만 할 한 가엾은 인물로 보였던가? 이런 것들을 생각하노라면\n" +
        " 으레 내 머리는 그냥 혼란하여 버리고 버리고 하였다. 잠들기 전에 획득했다는 결론이 오직 불\n" +
        " 쾌하다는 것뿐이었으면서도 나는 그런 것을 아내에게 물어 보거나 한 일이 참 한 번도 없다. 그\n" +
        " 것은 대체 귀찮기도 하려니와 한잠 자고 일어나는 나는 사뭇 딴 사람처럼 이것 도 저것도 다 깨\n" +
        " 끗이 잊어버리고 그만 두는 까닭이다.\n" +
        "\n" +
        " 내객들이 돌아가고, 혹 외출에서 돌아오고 하면 아내는 간편한 것으로 옷을 바꾸어 입고 내 방\n" +
        " 으로 나를 찾아온다. 그리고 이불을 들치고 내 귀에는 영 생동생동한 몇 마디 말로 나를 위로하\n" +
        " 려든 다. 나는 조소도 고소도 홍소도 아닌 옷음을 얼굴에 띠고 아내의 아름다운 얼굴을 쳐다본\n" +
        " 다. 아내 는 방그레 웃는다. 그러나 그 얼굴에 떠도는 일말의 애수를 나는 놓치지 않는다."
    textData[18]=" 아내는 능히 내가 배고파하는 것을 눈치챌 것이다. 그러나 아랫방에서 먹고 남은 음식을 나에게\n" +
        " 주려 들지는 않는다. 그것은 어디까지든지 나를 존경하는 마음일 것임에 틀림없다. 나는 배가\n" +
        " 고프면서도 적이 마음이 든든한 것을 좋아했다. 아내가 무엇이라고 지껄이고 갔는지 귀에 남아\n" +
        " 있을 리 가 없다. 다만 내 머리맡에 아내가 놓고 간 은화가 전등불에 흐릿하게 빛나고 있을 뿐이\n" +
        " 다.\n" +
        "\n" +
        " 고 금고형 벙어리 속에 은화가 얼마만큼이나 모였을까? 나는 그러나 그것을 쳐들어 보지 않았\n" +
        " 다. 그저 아무런 의욕도 기원도 없이 그 단추구멍처럼 생긴 틈바구니로 은화를 떨어뜨려 둘 뿐\n" +
        " 이었다.\n" +
        "\n" +
        "\n" +
        " 왜 아내의 내객들이 아내에게 돈을 놓고 가나 하는 것이 풀 수 없는 의문인 것같이, 왜 아내는\n" +
        " 나에게 돈을 놓고 가나 하는 것도 역시 나에게는 똑같이 풀 수 없는 의문이었다."
    textData[19]="내 비록 아내가 내게 돈을 놓고 가는 것이 싫지 않았다 하더라도 그것은 다만 고것이 내 손가락\n" +
        "닿는 순간에서부터 고 벙어리 주둥이에서 자취를 감추기까지의 하잘것 없는 짧은 촉각이 좋았달\n" +
        "뿐이 지 그 이상 아무 기쁨도 없다.\n" +
        "\n" +
        " 어느날 나는 고 벙어리를 변소에 갖다 넣어 버렸다. 그 때 벙어리 속에는 몇 푼이나 되는지 모르\n" +
        " 겠으나 고 은화들이 꽤 들어 있었다.\n" +
        "\n" +
        " 나는 내가 지구 위에 살며 내가 이렇게 살고 있는 지구가 질풍신뢰의 속력으로 광대무변의 공간\n" +
        " 을 달리고 있다는 것을 생각했을 때 참 허망하였다. 나는 이렇게 부지런한 지구 위에서는 현기\n" +
        " 증도 날 것 같고 해서 한시바삐 내려 버리고 싶었다.\n" +
        "\n" +
        " 이불 속에서 이런 생각을 하고 난 뒤에는 나는 고 은화를 고 벙어리에 넣고 넣고 하는 것조차 귀\n" +
        " 찮아졌다. 나는 아내가 손수 벙어리를 사용하였으면 하고 생각하였다."
    textData[20]="벙어리도 돈도 사실은 아내에게만 필요한 것이지 내게는 애초부터 의미가 전연 없는 것이었으니\n" +
        "까 될 수만 있으면 그 벙어리를 아내는 아내 방으로 가져 갔으면 하고 기다렸다.\n" +
        "\n" +
        " 그러나 아내는 가져가지 않는다. 나는 내가 아내 방으로 가져다 둘까 하고 생각하여 보았으나\n" +
        " 그 즈음에는 아내의 내객이 워낙 많아서 내가 아내 방에 가 볼 기회가 도무지 없었다. 그래서 나\n" +
        " 는 하 는 수 없이 변소에 갖다 집어 넣어 버리고 만 것이다.\n" +
        "\n" +
        " 나는 서글픈 마음으로 아내의 꾸지람을 기다렸다. 그러나 아내는 끝내 아무 말도 하지 않았다.\n" +
        "\n" +
        "않았을 뿐 아니라 여전히 돈은 돈대로 머리맡에 놓고 가지 않나! 내 머리맡에는 어느덧 은화가\n" +
        "꽤 많이 모였다.\n" +
        "\n" +
        " 내객이 아내에게 돈을 놓고 가는 것이나 아내가 내게 돈을 놓고 가는 것이나 일종의 쾌감---그\n" +
        " 외의 다른 아무런 이유도 없는 것이 아닐까 하는 것을 나는 또 이불 속에서 연구하기 시작하였\n" +
        " 다.\n" +
        "쾌감이라면 어떤 종류의 쾌감일까를 계속하여 연구하였다. 그러나 그것은 이불 속의 연구로는\n" +
        "알 길이 없었다. 쾌감, 쾌감, 하고 나는 뜻밖에도 이 문제에 대해서만 흥미를 느꼈다.\n" +
        "\n" +
        " 아내는 물론 나를 늘 감금하여 두다시피 하여 왔다. 내게 불평이 있을 리 없다. 그런 중에도 나\n" +
        " 는 그 쾌감이라는 것의 유무를 체험하고 싶었다."
    textData[21]="나는 아내의 밤 외출 틈을 타서 밖으로 나왔다. 나는 거리에서 잊어버리지 않고 가지고 나온 은\n" +
        " 화를 지폐로 바꾼다. 오 원이나 된다. 그것을 주머니에 넣고 나는 목적지를 잃어버리기 위하여\n" +
        " 얼마든지 거리를 쏘다녔다. 오래간만에 보는 거리는 거의 경이에 가까울 만큼 내 신경을 흥분시\n" +
        " 키지 않고는 마지 않았다. 나는 금시에 피곤하여 버렸다.\n" +
        "\n" +
        "그러나 나는 참았다. 그리고 밤이 이슥하도록 까닭을 잃어버린 채 이 거리 저 거리로 지향없이 \n" +
        "헤매었다. 돈은 물론 한 푼도 쓰지 않았다. 돈을 쓸 아무 엄두도 나서지 않았다. 나는 벌써 돈을\n" +
        "쓰는 기능을 완전히 상실한 것 같았다.\n" +
        "\n" +
        " 나는 과연 피로를 이 이상 견디기가 어려웠다. 나는 가까스로 내 집을 찾았다. 나는 내 방을 가\n" +
        " 려면 아내 방을 통과하지 않으면 안 될 것을 알고, 아내에게 내객이 있나 없나를 걱정하면서 미\n" +
        " 닫이 앞에서 좀 거북살스럽게 기침을 한 번 했더니, 이것은 참 또 너무도 암상스럽게 미닫이가\n" +
        " 열리면서 아내의 얼굴과 그 등 뒤에 낯설은 남자의 얼굴이 이쪽을 내다보는 것이다. 나는 별안\n" +
        " 간 내어 쏟아지는 불빛에 눈이 부셔서 좀 머뭇머뭇했다."
    textData[22]=" 나는 아내의 눈초리를 못 본 것은 아니다. 그러나 나는 모른 체하는 수 밖에 없었다.\n" +
        "\n" +
        "왜? 나는 어쨌든 아내의 방을 통과하지 아니하면 안 되니까…….\n" +
        "\n" +
        " 나는 이불을 뒤집어썼다. 무엇보다도 다리가 아파서 견딜 수가 없었다.\n" +
        "\n" +
        " 이불 속에서는 가슴이 울렁거리면서 암만해도 까무러칠 것만 같았다. 걸을 때는 몰랐더니 숨이\n" +
        " 차다. 등에 식은땀이 쭉 내배인다. 나는 외출한 것을 후회하였다. 이런 피로를 잊고 어서 잠이\n" +
        " 들었으면 좋았다. 한잠 잘 자고 싶었다.\n" +
        "\n" +
        " 얼마동안이나 비스듬히 엎드려 있었더니 차츰차츰 뚝딱 거리는 가슴 동계가 가라앉는다. 그만\n" +
        " 해 도 우선 살 것 같았다. 나는 몸을 들쳐 반듯이 천장을 향하여 눕고 쭈욱 다리를 뻗었다."
    textData[23]=" 그러나 나는 또 다시 가슴의 동계를 피할 수 없게 되었다. 아랫방에서 아내와 그 남자의 내 귀에\n" +
        " 도 들리지 않을 만큼 낮은 목소리로 소곤거리는 기척이 장지 틈으로 전하여 왔던 것이다. 청각\n" +
        " 을 더 예민하게 하기 위하여 나는 눈을 떴다. 그리고 숨을 죽였다.\n" +
        "\n" +
        " 그러나 그 때는 벌써 아내와 남자는 앉았던 자리를 툭툭 털고 일어섰고 일어서면서 옷과 모자\n" +
        " 쓰는 기척이 나는 듯하더니 이어 미닫이가 열리고 구두 뒤축 소리가 나고 그리고 뜰에 내려서는\n" +
        " 소리 가 쿵 하고 나면서 뒤를 따르는 아내의 고무신 소리가 두어 발짝 찍찍나고 사뿐사뿐 나나\n" +
        " 하는 사 이에 두사람의 발소리가 대문 쪽으로 사라졌다.\n" +
        "\n" +
        " 나는 아내의 이런 태도를 본 일이 없다. 아내는 어떤 사람과도 결코 소곤거리는 법이 없다. 나는\n" +
        " 웃방에서 이불을 쓰고 누웠는 동안에도 혹 술이 취해서 혀가 잘 돌아가지 않는 내객들의 담화는\n" +
        " 더러 놓치는 수가 있어도 아내의 높지도 낮지도 않은 말소리는 일찌기 한마디도 놓쳐 본 일이\n" +
        " 없다."
    textData[24]="더러 내 귀에 거슬리는 소리가 있어도 나는 그것이 태연한 목소리로 내 귀에 들렸다는 이유로 충\n" +
        "분히 안심이 되었다.\n" +
        "\n" +
        " 그렇던 아내의 이런 태도는 필시 그 속에 여간하지 않은 사정이 있는 듯 시피 생각이 되고 내 마\n" +
        " 음은 좀 서운했으나 그보다도 나는 좀 너무 피로해서 오늘만은 이불 속에서 아무것도 연구하지\n" +
        " 않기로 굳게 결심하고 잠을 기다렸다. 낮잠은 좀처럼 오지 않았다. 대문간에 나간 아내도 좀처\n" +
        " 럼 들어오지 않았다. 그러는 동안에 흐지부지 나는 잠이 들어 버렸다. 꿈이 얼쑹덜쑹 종을 잡을\n" +
        " 수 없는 거리의 풍경을 여전히 헤매었다.\n" +
        "\n" +
        "\n" +
        " 나는 몹시 흔들렸다. 내객을 보내고 들어온 아내가 잠든 나를 잡아 흔드는 것이다. 나는 눈을 번\n" +
        " 쩍 뜨고 아내의 얼굴을 쳐다보았다. 아내의 얼굴에는 웃음이 없다. 나는 좀 눈을 비비고 아내의\n" +
        " 얼굴을 자세히 보았다. 노기가 눈초리에 떠서 얇은 입술이 바르르 떨린다. 좀처럼 이 노기가 풀\n" +
        " 리기 는 어려울 것 같았다. 나는 그대로 눈을 감아 버렸다. 벼락이 내리기를 기다린 것이다. 그\n" +
        " 러나 쌔 근 하는 숨소리가 나면서 부스스 아내의 치맛자락 소리가 나고 장지가 여닫히며 아내는\n" +
        " 아내 방으로 돌아갔다."
    textData[25]=" 나는 다시 몸을 돌쳐 이불을 뒤집어쓰고는 개구리처럼 엎드리고 엎드려서 배가 고픈 가운데도\n" +
        " 오 늘 밤의 외출을 또 한 번 후회하였다.\n" +
        "\n" +
        "\n" +
        " 나는 이불 속에서 아내에게 사죄하였다. 그것은 네 오해라고…… 나는 사실 밤이 퍽으나 이슥한\n" +
        " 줄만 알았던 것이다. 그것이 네 말마따나 자정 전인지는 정말이지 꿈에도 몰랐다. 나는 너무 피\n" +
        " 곤하였다. 오래간만에 나는 너무 많이 걸은 것이 잘못이다.\n" +
        "\n" +
        " 내 잘못이라면 잘못은 그것 밖에 없다. 외출은 왜 하였더냐고? 나는 그 머리맡에 저절로 모인 \n" +
        " 오 원 돈을 아무에게라도 좋으니 주어 보고 싶었던 것이다. 그 뿐 이다. 그러나 그것도 내 잘못\n" +
        " 이라면 나는 그렇게 알겠다. 나는 후회하고 있지 않나? 내가 그 오 원 돈을 써 버릴 수가 있었던\n" +
        " 들 나는 자정 안에 집에 돌아올 수 없었을 것이다. 그러나 거리는 너무 복잡하였고 사람은 너무\n" +
        " 도 들끓었다. 나는 어느 사람을 붙들고 그 오 원 돈을 내어 주어야할지 갈피를 잡을 수가 없었다\n" +
        " . 그러는 동안에 나는 여지없이 피곤해 버리고 말았던 것이다."
    textData[26]=" 나는 무엇보다도 좀 쉬고 싶었다. 눕고 싶었다. 그래서 나는 하는 수 없이 집으로 돌아온 것이\n" +
        " 다. 내 짐작 같아서는 밤이 어지간히 늦은 줄만 알았는데, 그것이 불행히도 자정 전이었다는 것\n" +
        " 은 참 안된 일이다. 미안한 일이다. 나는 얼마든지 사죄하여도 좋다. 그러나 종시 아내의 오해\n" +
        " 를 풀 지 못하였다 하면 내가 이렇게까지 사죄하는 보람은 그럼 어디 있나? 한심하였다.\n" +
        "\n" +
        " 한 시간 동안을 나는 이렇게 초조하게 굴지 않으면 안 되었다. 나는 이불을 홱 젖혀 버리고 일어\n" +
        " 나서 장지를 열고 아내 방으로 비칠비칠 달려갔던 것이다. 내게는 거의 의식이라는 것이 없었다\n" +
        " .\n" +
        "\n" +
        "나는 아내 이불 위에 엎드러지면서 바지 포켓 속에서 그 돈 오 원을 꺼내 아내 손에 쥐어 준 것을\n" +
        "간신히 기억할 뿐이다.\n" +
        "\n" +
        " 이튿날 잠이 깨었을 때 나는 내 아내 방 아내 이불 속에 있었다. 이것이 이 33번지에서 살기 시\n" +
        " 작한 이래 내가 아내 방에서 잔 맨 처음이었다."
    textData[27]=" 해가 들창에 훨씬 높았는데 아내는 이미 외출하고 벌써 내 곁에 있지는 않다. 아니! 아내는 엊저\n" +
        " 녁 내가 의식을 잃은 동안에 외출한 것인지도 모른다. 그러나 나는 그런 것을 조사하고 싶지 않\n" +
        " 았다. 다만 전신이 찌뿌드드한 것이 손가락 하나 꼼짝할 힘조차 없었다. 책보보다 좀 작은 면적\n" +
        " 의 볕 이 눈이 부시다. 그 속에서 수없이 먼지가 흡사 미생물처럼 난무한다. 코가 콱 막히는 것\n" +
        " 같다. 나 는 다시 눈을 감고 이불을 푹 뒤집어쓰고 낮잠을 자기에 착수하였다. 그러나 코를 스치\n" +
        " 는 아내의 체취는 꽤 도발적이었다. 나는 몸을 여러번 여러번 비비꼬면서 아내의 화장대에 늘어\n" +
        " 선 고 가지각색 화장품 병들의 마개를 뽑았을 때 풍기는 냄새를 더듬느라고 좀처럼 잠은 들지\n" +
        " 않는 것을 나는 어찌하는 수도 없었다.\n" +
        "\n" +
        "\n" +
        " 견디다못하여 나는 그만 이불을 걷어차고 벌떡 일어나서 내 방으로 갔다. 내 방에는 다 식어빠\n" +
        " 진 내 끼니가 가지런히 놓여 있는 것이다. 내 방에는 다 식어 빠진 내 끼니가 가지런히 놓여 있\n" +
        " 는 것이다. 아내는 내 모이를 여기다 두고 나간 것이다. 나는 우선 배가 고팠다. 한 숟갈을 입에\n" +
        " 떠 넣었을 때 그 촉감은 참 너무도 냉회와 같이 써늘하였다. 나는 숟갈을 놓고 내 이불 속으로\n" +
        " 들어갔다. 하룻밤을 비었던 내 이부자리는 여전히 반갑게 나를 맞아 준다. 나는 내 이불을 뒤집\n" +
        " 어쓰고 이 번에는 참 늘어지게 한잠 잤다. 잘----"
    textData[28]=" 내가 잠을 깬 것은 전등이 켜진 뒤다. 그러나 아내는 아직도 돌아오지 않았나보다.\n" +
        "\n" +
        " 아니! 돌아왔다 또 나갔는지 알 수 없다. 그러나 그런 것을 상고하여 무엇하나? 정신이 한결 난\n" +
        " 다. 나는 밤일을 생각해 보았다. 그 돈 오 원을 아내 손에 쥐어 주고 넘어졌을 때에 느낄 수 있었\n" +
        " 던 쾌감을 나는 무엇이라고 설명할 수가 없었다. 그러나 내객들이 내 아내에게 돈 놓고 가는 심\n" +
        " 리며 내 아내가 내게 돈 놓고 가는 심리의 비밀을 나는 알아낸 것 같아서 여간 즐거운 것이 아니\n" +
        " 다.\n" +
        "\n" +
        " 나는 속으로 빙그레 웃어 보았다.\n" +
        "\n" +
        " 이런 것을 모르고 오늘까지 지내온 내 자신이 어떻게 우스꽝스럽게 보이는지 몰랐다."
    textData[29]=" 따라서 나는 또 오늘 밤에도 외출하고 싶었다. 그러나 돈이 없다. 나는 또 엊저녁에 그 돈 오 원\n" +
        " 을 한꺼번에 아내에게 주어 버린 것을 후회하였다. 또 고 벙어리를 변소에 갖다 쳐넣어 버린 것\n" +
        " 도 후회하였다. 나는 실없이 실망하면서 습관처럼 그 돈 오 원이 들어 있던 내 바지 포켓에 손을\n" +
        " 넣어 한번 휘둘러 보았다. 뜻밖에도 내 손에 쥐어지는 것이 있었다. 이 원 밖에 없다. 그러나 많\n" +
        " 아야 맛 은 아니다. 얼마간이고 있으면 된다. 나는 그만한 것이 여간 고마운 것이 아니었다.\n" +
        " \n" +
        " 나는 기운을 얻었다. 나는 그 단벌 다 떨어진 골덴 양복을 걸치고 배고픈 것도 주제 사나운 것도\n" +
        " 다 잊어버리고 활갯짓을 하면서 또 거리로 나섰다. 나서면서 나는 제발 시간이 화살 단듯해서\n" +
        " 자정 이 어서 홱 지나 버렸으면 하고 조바심을 태웠다. 아내에게 돈을 주고 아내 방에서 자 보는\n" +
        " 것은 어디까지든지 좋았지만 만일 잘못해서 자정 전에 집에 들어갔다가 아내의 눈총을 맞는 것\n" +
        " 은 그것은 여간 무서운 일이 아니었다."
    textData[30]=" 나는 저물도록 길가 시계를 들여다보고 들여다보고 하면서 또 지향없이 거리를 방황하였다. 그\n" +
        " 러나 이날은 좀처럼 피곤하지는 않았다. 다만 시간이 좀 너무 더디게 가는 것만 같아서 안타까\n" +
        " 웠다.\n" +
        "\n" +
        " 경성역(京城驛) 시계가 확실히 자정을 지난 것을 본 뒤에 나는 집을 향하였다. 그날은 그 일각\n" +
        " 대 문에서 아내와 아내의 남자가 이야기하고 섰는 것을 만났다. 나는 모른 체하고 두 사람 곁을\n" +
        " 지나 서 내 방으로 들어갔다. 뒤이어 아내도 들어왔다. 와서는 이 밤중에 평생 안 하던 쓰레질을\n" +
        " 하는 것이었다. 조금 있다가 아내가 눕는 기척을 엿보자마자 나는 또 장지를 열고 아내 방으로\n" +
        " 가서 그 돈 이 원을 아내 손에 덥석 쥐어 주고 그리고---하여간 그 이 원을 오늘 밤에도 쓰지\n" +
        " 않고 도로 가 져 온 것이 참 이상하다는 듯이 아내는 내 얼굴을 몇번이고 엿보고---아내는 드디\n" +
        " 어 아무 말도 없이\n" +
        "\n" +
        "나를 자기 방에 재워 주었다. 나는 이 기쁨을 세상의 무엇과도 바꾸고 싶지는 않았다.\n" +
        "\n" +
        " 나는 편히 잘 잤다."
    // Sample using dynamic pages with turn.js

    var numberOfPages = textData.length;
    let my_page=1;

    // Adds the pages that the book will need
    function addPage(page, book) {
        if (!book.turn('hasPage', page)) {
            var element = $('<div />', {'class': 'page '+((page%2==0) ? 'odd' : 'even'), 'id': 'page-'+page}).html('<i class="loader"></i>');

            book.turn('addPage', element, page);

            setTimeout(function(){
                element.html('<div >'+textData[page-1]+'</div>');
            }, 1000);

        }
    }

    $(window).ready(function(){


        $('#book').turn({acceleration: true,
            pages: numberOfPages,
            elevation: 50,
            gradients: !$.isTouch,
            when: {
                turning: function(e, page, view) {

                    // Gets the range of pages that the book needs right now
                    var range = $(this).turn('range', page);

                    // Check if each page is within the book
                    for (page = range[0]; page<=range[1]; page++)
                        addPage(page, $(this));

                },

                turned: function(e, page) {
                    $('#page-number').val(page);
                    my_page=page;
                }
            }
        });

        $('#number-pages').html(numberOfPages);

        $('#page-number').keydown(function(e){

            if (e.keyCode==13)
                $('#book').turn('page', $('#page-number').val());

        });
    });

    $(window).bind('keydown', function(e){

        if (e.target && e.target.tagName.toLowerCase()!='input')
            if (e.keyCode==37)
                $('#book').turn('previous');
            else if (e.keyCode==39)
                $('#book').turn('next');

    });
    function SaveData(element, page) {
        const bookPlus = element.getAttribute('data-book-plus');
        const myLibraryPk = element.getAttribute('my-library-pk');
        let percent = my_page;
        console.log("percent"+percent);
        $.ajax({
            url: '/readData', // 서버 설정에 따라 URL을 조정하세요.
            type: 'POST',
            data: {
                bookPlus: bookPlus,
                myLibraryPk: myLibraryPk,
                percent: percent
            },
            success: function(response) {
                alert(response);
                window.location.href = '/myLibrary/' + myLibraryPk;
            },
            error: function(xhr, status, error) {
                alert("에러 발생: " + error);
            }
        });

    }
</script>
</body>
</html>
