<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
</head>
<body class="d-flex flex-column h-100">
    <div layout:fragment="content">
        <main class="flex-shrink-0">
            <header class="py-5">
                <div class="container px-5 pb-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-xxl-5">
                            <!-- Header text content-->
                            <div class="text-center text-xxl-start">
                                <div class="badge bg-gradient-primary-to-secondary text-white mb-4"><div class="text-uppercase">Knowledge &middot; Philosophy &middot; Development</div></div>
                                <div class="fs-3 fw-light text-muted">Welcome To Your Library</div>
                                <th:block th:if="${session.id} == null">
                                    <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">OO의 서재</span></h1>
                                </th:block>
                                <th:block th:if="${session.id} != null">
                                    <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline" th:text="${session.name} + '의 서재'"></span></h1>
                                </th:block>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                                    <th:block th:if="${session.id} == null">
                                        <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" th:href="@{/login}">Log In</a>
                                        <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" th:href="@{/members/join}">Join Us</a>
                                    </th:block>
                                    <th:block th:if="${session.id} != null">
                                        <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" th:href="@{/myLibrary/{pk}(pk=${session.myLibraryPk})}">내서재로</a>
                                        <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" th:href="@{/logout}">Log Out</a>
                                        <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" th:href="@{/adminPage}">관리자페이지</a>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-7">
                            <!-- Header profile picture-->
                            <div class="d-flex justify-content-center mt-5 mt-xxl-0">
                                <img class="profile-img" src="assets/profile.png" alt="..." style="border-radius: 20px" />
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </main>
    </div>
</body>
</html>
