<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="footer">
        <!-- Footer-->
        <footer class="bg-white py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0">Copyright &copy; Project IF 2024</div></div>
                    <div class="col-auto">
                        <a class="small" href="https://www.aladin.co.kr" target="_blank" style="text-decoration-line: none; color: black">알라딘</a>
                        <span class="mx-1">&middot;</span>
                        <a class="small" href="https://www.kyobobook.co.kr" target="_blank" style="text-decoration-line: none; color: black">교보문고</a>
                        <span class="mx-1">&middot;</span>
                        <a class="small" href="https://www.nl.go.kr" target="_blank" style="text-decoration-line: none; color: black">도서관</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
    </div>
</html>