<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>나의 팀 서재</title>
</head>
<body>
    <div layout:fragment="content">

        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-8">

                <button class="btn btn-primary" type="button" th:onclick="|location.href='@{team/{}/addMember}'|">팀원 추가</button>

                <div class="col-lg-11 col-xl-9 col-xxl-8">
                    <div th:each="member, stat : ${members}">
                        <!-- Project Card 1-->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5" th:id="'member' + ${member.myLibraryPk}" th:onclick="|location.href='@{/myLibrary/{pk}(pk=${member.myLibraryPk})}'|">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-5">
<!--                                        <input type="hidden" th:text="${member.myLibraryPk}" id="pk">-->
<!--                                        <p th:text="${stat.index}"></p>-->
                                        <h2 class="fw-bolder" th:text="${member.memberName} + '의 서재'">Project Name 1</h2>
                                    </div>
                                    <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="..." />
                                    <img class="img-fluid" th:src="${member.memberProfileImg}" alt="default" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script th:inline="javascript">
        </script>

    </div>
</body>
</html>