<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>FIND ID</title>
    <style>
        form {
            max-width: 400px;
            margin: 6% auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        input {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            box-sizing: border-box;
        }
        button {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            box-sizing: border-box;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .fieldErrors {
            font-weight: bold;
            color: red;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <main class="flex-shrink-0">
        <header class="py-5">
            <div class="container px-5 pb-5">
                <!--       아이디 찾기         -->
                <form th:action="@{/mail/findId}" method="post">
                    <p th:if="${error != null}" th:text="${error}" class="fieldErrors"></p>
                    <label for="name">이름</label>
                    <input type="text" id="name" name="name" required>
                    <label for="email">이메일</label>
                    <input type="email" id="email" name="email" required>
                    <button type="button" id="sendVerificationCodeBtn" onclick="sendVerificationCode()">인증번호 받기</button>
                    <input type="text" id="verificationCode" name="verificationCode" placeholder="인증번호 입력" required readonly>
                    <button type="button" id="verifyCodeBtn" onclick="verifyCode()">인증 하기</button>
                    <br>
                    <button type="submit" disabled>Submit</button>
                </form>
            </div>
        </header>
    </main>

    <script th:inline="javascript">

        document.addEventListener('DOMContentLoaded', e => {
            // 초기에는 인증번호 칸과 버튼을 숨김
            document.getElementById('verificationCode').style.display = 'none';
            document.getElementById('verifyCodeBtn').style.display = 'none';
        });

        function sendVerificationCode() {
            var email = document.getElementById('email').value;
            var verificationCodeInput = document.getElementById('verificationCode');
            verificationCodeInput.readOnly = false;
            var name = document.getElementById('name').value;

            var data = {
                email: email,
                name: name
            };

            fetch('/mail', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    if (!response.ok) {
                        Swal.fire({
                            title : '이메일 인증 발송 실패',
                            icon : 'error',
                            timer : 1500,
                            showConfirmButton: false,
                            timerProgressBar: true
                        }).then(() => {
                            throw new Error('이메일  인증이 제대로 수행되지 않음')
                        });
                        throw new Error('이메일 인증이 제대로 수행되지 않음');
                    }
                    return response.json();
                })
                .then(result => {
                    // 서버로부터의 응답을 이용한 작업을 수행
                    if (result === true) {
                        // 서버로부터 true를 받았을 때의 처리
                        Swal.fire({
                            title : '이메일 인증 발송 성공',
                            icon : 'success',
                            timer : 1500,
                            showConfirmButton: false,
                            timerProgressBar: true
                        }).then(() => {

                            document.getElementById('verificationCode').style.display = 'block';
                            document.getElementById('verifyCodeBtn').style.display = 'block';
                        });
                    } else {
                        // 서버로부터 false를 받았을 때의 처리
                        Swal.fire({
                            title : '이메일 인증 발송 실패',
                            icon : 'error',
                            timer : 1500,
                            showConfirmButton: false,
                            timerProgressBar: true
                        });
                    }
                })
                .catch(error => {
                    // 오류 처리
                    console.log(error)
                });
        }

        function verifyCode() {
            var code = document.getElementById('verificationCode').value;

            var data = {
                code : code
            };

            console.log(code)

            fetch('/mail/verify', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    if (!response.ok) {
                        Swal.fire({
                            title : '이메일 인증 실패',
                            icon : 'error',
                            timer : 1500,
                            showConfirmButton: false,
                            timerProgressBar: true
                        }).then(() => {
                            throw new Error('이메일  인증이 제대로 수행되지 않음')
                        });
                    }
                    return response.text();
                })
                .then(result => {
                    console.log(result)
                    // 서버로부터의 응답을 이용한 작업을 수행
                    if (result !== '') {
                        // 서버로부터 true를 받았을 때의 처리
                        Swal.fire({
                            title : '이메일 인증 성공',
                            icon : 'success',
                            timer : 1500,
                            showConfirmButton: false,
                            timerProgressBar: true
                        }).then(() => {
                            document.querySelector('button[type="submit"]').disabled = false;
                        });
                    } else {
                        // 서버로부터 false를 받았을 때의 처리
                        Swal.fire({
                            title : '이메일 인증 실패',
                            icon : 'error',
                            timer : 1500,
                            showConfirmButton: false,
                            timerProgressBar: true
                        }).then(() => {
                            document.querySelector('button[type="submit"]').disabled = true
                        });
                    }
                })
                .catch(error => {
                    // 오류 처리
                    console.log(error)
                });
        }
    </script>
</div>
</body>
</html>