<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>FIND PASSWORD</title>
</head>
<body>
<div layout:fragment="content">
    <main class="flex-shrink-0">
        <header class="py-5">
            <div class="container px-5 pb-5">
                <!--       비밀번호 찾기         -->
                <form th:action="@{/mail/findPassword}" method="post">
                    <div th:if="${param.error}">
                        <p style="color: red;">Invalid name and email.</p>
                    </div>
<!--                    <label for="username">USERNAME</label>-->
<!--                    <input type="text" name="username" id="username" placeholder="Enter userId" required autofocus>-->
<!--                    <label for="password">PASSWORD</label>-->
<!--                    <input type="password" name="password" id="password" placeholder="Enter Password" required autofocus>-->
                    <br>
                    <br>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </header>
    </main>
</div>
</body>
</html>